[submodule "lib/backbone"]
	path = lib/backbone
	url = git@github.com:jashkenas/backbone.git
[submodule "lib/marionette"]
	path = lib/marionette
	url = git@github.com:marionettejs/backbone.marionette.git
[submodule "lib/jquery"]
	path = lib/jquery
	url = git@github.com:jquery/jquery.git
[submodule "lib/underscore"]
	path = lib/underscore
	url = git@github.com:jashkenas/underscore.git
[submodule "lib/bootstrap"]
	path = lib/bootstrap
	url = git@github.com:twbs/bootstrap.git
